body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}
.topo{
    width: 100%;
    height: 92px;
    background-color: #CF2B2B;
    position: fixed;
    color: #FFFFFF;
    top:0;
    left:0;
}
.topo h1{
    font-family: 'Righteous', cursive;
    font-size: 44px;
    margin-top:8px;
    margin-left: 21px;
}
.topo h2{
    font-size: 18px;
    margin-top:5px;
    margin-left: 21px;
    line-height: 21,09px;
}
.baixo{
    width:100%;
    height: 92px;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    left:0;
}
.concluir-selecao{
    width: 88%;
    height: 66%;
    background-color: #CBCBCB;
    margin: 15px auto;
    border-radius: 50px;
    box-sizing: border-box;
    padding:7px;
}
.concluir-selecao p{
    text-align: center;
    font-size:20px;
    color: #FFFFFF;
}
.escolha-o-lanche{
    margin-top: 120px;
    margin-bottom: 110px;
    margin-left: 19px;
    font-family: 'Righteous', cursive;
    font-size:26px;
}
.escolha-o-lanche div{
    width: 172px;
    height: 216px;
    background-color: red;
    border-radius: 9px;
}
.escolha-o-lanche p{
    margin-top: 30px;
    margin-bottom:17px;
}